body {
    background-color: #000000;
}

.paineltop {
    margin-top: 10px;
    background-color: #006eff64;
    height: 50px;
}

img {
    margin-top: 10px;
    margin-left: 10px;
    width: 80px;
    border-radius: 50%;
}
